html, body {
  height: 100%;
  overflow: hidden;
}

/*circle x button code start*/
.circleButtonX {
	border-radius: 50%;
	height: auto;
	width: auto;
	background-color: antiquewhite;


}

#search{
  margin: 10px;
  width: 200px;
}

.circleButtonX:hover{
	
	background-color: red;
}
/*circle button code end */
textarea {
   resize: none;
}

#fileContent{
  width: 80%;
}

.displayCheckBoxSpan{
  margin:5px;
  display:none;
  width: 100%;
  height: auto;
}

#modalc{
  height: 60%;
  position: relative;
  float: center;
  overflow-y: auto;
  width: 100%;
}

#sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 60%; 
}
#sortable li { 
  margin: 0 3px 3px 3px; 
  padding: 0.4em; 
  padding-left: 1.5em; 
  font-size: 1.4em; 
  height: 18px; 
}

#sortable li span { 
  position: absolute; 
  margin-left: -1.3em; 
}

#notesArea {
	width: 230px;
}

#codeGenerateCssLi {
    margin: 5px;
    padding-top: 3px;
}
#temp {
    padding: 10px;
}

.listItem{
  margin-left:-58px;
  margin-top:10px;
  width: 200px;
  height:120px;
  background-color: beige;
  -webkit-box-shadow:13px 10px 5px -8px rgba(71,69,71,1);
  -moz-box-shadow:13px 10px 5px -8px rgba(71,69,71,1);
  box-shadow:13px 10px 5px -8px rgba(71,69,71,1);
  border-radius: 3px;
  font-size:12px;
}

#sideBar {
    padding-top: 50px;
    margin: 10px;
}
#leftSidebar {
    padding-top: 50px;
    margin: 10px;
}
#topNavbarContainer{
    position: relative;
}
#topNavbarDefault{
    background-color: #ffd000;
}
#bottomNavbarContainer{
    position: relative;
}
#tourNameField {
    margin: 10px;
    width: 470px;
}
#randomfield{
  margin:10px;
  width: 470px;
}
#tourLevelField {
    margin: 10px;
    width: 470px;
}
#tourDateField {
    margin: 10px;
    width: 470px;
}
#tourTextFields{
  padding-left: 50px;
}

#tourList { 
padding-top: 50px;  
padding-left: 210px;
    margin: 10px;
    width: 100%;
    position: relative;
    float: center;
    overflow-y: auto;
}

#toursListMiddle {
    position: relative;
}

.navbar-brand{
  position: relative;
}

#buttonsListTours {
    height: 400px;
    list-style-type: none;
    position: relative;
}

#buttonGroupPointer{
    padding: 10px;
}
#deletePointer{
    width: 80px;
}
#addPointer{
    width: 80px;
}

#deleteTour{
    width: 80px;
}
#addTour{
    width: 80px;
}

#wrapper.toggled {
    padding-left: 250px;
    padding-right: 250px;
}

#tourButtonGroup{
    padding-left: 250px;
    margin: 10px;   
    position: relative;
}

#demo {
    background-color: white;
}
#addNoteButton{
	margin: 10px 20px 10px 10px;
	float: right;
}

#deleteNoteButton{
  margin: 10px 20px 10px 130px;
  float: left;

}

#wrapperLeft{
  display: flex;
}

#noteFieldContainer{
	padding-top: 10px;
}

#leftBar{
  float: left;
  height: 100%;
  padding-top: 30px;
}

.removeListXbtn hover{
  color:red;
  font-size:20px;
}

#leftBarId{
  width: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0.5px;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: #95a5a6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow:10px 10px 5px #888888;
}

#wrapper {
    padding-left: 250px;
    float:right;
    height: 100%
}

#wrapper.toggled {
    padding-left: 0;
}

#wrapper.toggled #sidebar-wrapper {
    padding-right: 250px;
}

#sidebar-wrapper.toggled {
    padding-left: 210px;
}

#page-content-wrapper {
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px; 
    margin-top: 30px;    
    width: 100%;
    position: absolute;
    margin-bottom: 30px;
    padding-bottom: 30px;
}


#wrapper.toggled #page-content-wrapper {
    position: absolute;
    padding-right: 210px;
}

ul{
  list-style-type:none;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}

.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.portfolio-item{
  max-width: 280px;
  width: 280px;
  height: auto;
  margin-bottom: 10px;
}

.img-responsive{
  max-width: 260px;
  width: 260px;
  max-height: 200px;
  height: 200px;
}

.textAreas{
  margin-bottom: 5px;
}

@media (max-width: 500px) {
    #tourList li {
        width: 50%;
    }

    #tourList {
        padding-left: 100px;
    }
}

.ui-widget-header{
  background: #cedc98;
  border: 1px solid #DDDDDD;
  color: #333333;
  font-weight:bold;
}

.progress-label{
  position:absolute;
  left:50%;
  top:13px;
  font-weight: bold;
  text-shadow:1px 1px 0 #fff;
}

video{
  max-width: 260px;
  width: 260px;
  max-height: 200px;
  height: 200px;
} 
#logoutButton{
  padding-left: 500px;

}
#managerModeBtnGroup{
  margin: 15px;
}
#modifyAccountBody{
  overflow-y: scroll;
  width: auto;
  height: 300px;
  max-height: 300px;
}
.account-manager-checkbox{
  margin: 10px;
  height:10px;
}



