html, body {
  height: 100%;
  overflow: hidden;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }

#notesArea {
	width: 230px;
}

#codeGenerateCssLi {
    margin: 5px;
    padding-top: 3px;
}

#sideBar {
    padding-top: 50px;
    margin: 10px;
}

#leftSidebar {
    padding-top: 50px;
    margin: 10px;
}

#topNavbarContainer{
    position: relative;
}

#tourNameField {
    margin: 10px;
    width: 470px;
}
#tourLevelField {
    margin: 10px;
    width: 470px;
}
#tourDateField {
    margin: 10px;
    width: 470px;
}
#tourTextFields{
  padding-left: 50px;
}
#tourList {
    padding-top: 50px;
    margin: 10px;
    width: 900px;
    float: center;
    overflow-y: auto;
    position: relative;
}

.navbar-brand{
  position: relative;
}

#buttonsListTours {
    height: 400px;
    list-style-type: none;

}

#buttonGroupPointer{
    padding: 10px;
}
#deletePointer{
    width: 80px;
}
#addPointer{
    width: 80px;
}

#tourButtonGroup{
    padding: 10px;
    margin-top: 500px;
}
#deleteTour{
    width: 80px;
}
#addTour{
    width: 80px;
}

#wrapper.toggled {
    padding-left: 250px;
}


#demo {
    background-color: white;
}
#addNoteButton{
	margin: 10px 20px 10px 10px;
	float: right;
}

#deleteNoteButton{
  margin: 10px 20px 10px 130px;
  float: left;

}

#wrapperLeft{
  display: flex;
}

#noteFieldContainer{
	padding-top: 10px;
}

#leftBar{
  float: left;
  height: 100%;
  width: 200px;
  padding-top: 50px;
}



#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0.5px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
	margin-top: 30px;    
	width: 100%;
    position: absolute;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

    #wrapper {
        padding-left: 250px;
        float:right;
        height: 100%
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
        padding-top: 20px;
		margin-bottom: 20px; 
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
   

